<h1>Listing coffee_beans</h1>

<table>
  <tr>
    <th>Variety</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coffee_beans.each do |coffee_bean| %>
  <tr>
    <td><%= coffee_bean.variety %></td>
    <td><%= coffee_bean.comment %></td>
    <td><%= link_to 'Show', coffee_bean %></td>
    <td><%= link_to 'Edit', edit_coffee_bean_path(coffee_bean) %></td>
    <td><%= link_to 'Destroy', coffee_bean, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coffee bean', new_coffee_bean_path %>
